#*#
*.[0-9]
*.bak
*.bz2
*.css
*.d
*.def
*.dll
*.exe
*.gif
*.gz
*.html
*.la
*.la
*.lib
*.lo
*.lo
*.o
*.orig
*.out
*.pc
*.pdb
*.rc
*.rej
*.u
*~
.#*#
.*.bak
.*.orig
.*.rej
.*~
.deps
.libs

acinclude.m4
aclocal.m4
archive
autom4te.cache
ChangeLog
compile
confdefs.h
config.*
configure
conftest
conftest.c
core
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
m4
Makefile
Makefile.in
missing
mkinstalldirs
so_locations
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
stamp-h*